.headng{
    padding:50px;
    color: white;
    background-color:rgb(24, 51, 124) 
}

.box{
    background-color: #F7F7F7;
    align-content: center;
    /* border: 1px solid; */
    padding: 25px
}

.cards{
    vertical-align: top;
    max-width: 270px;
    color: #303030;
    border-radius: 15px;    
    background: white;
    display: inline-block;
    margin: 20px;
    padding: 10px
}

.cards:hover{
    transition: background-color 0.7s ease;
    background-color: rgb(201, 201, 201)
}
.cards-head{
    padding: 10px 0px 10px 0px;
    text-align: center;
    /* border: 1px solid    */
}
.cards-head h3{
    display:inline-block
}

.cards-head button{
    border-radius: 5px;
    background-color: teal
}


.footer{
    /* padding: 50px 100px 150px 50px; */
    padding-left: 30px;
    padding-top: 50px; 
    background-color:rgb(24, 25, 26) 
}

.footer-left{
    vertical-align: top;
    color:white;
    padding-bottom:30px
}

.footer-left2{
    padding-bottom:30px;
    vertical-align: top;
    color:white
}

.footer-left2 p{
    vertical-align: top;
    margin : 0px;
}

.footer-right{
    padding-bottom:30px;
    vertical-align: top;
    max-width: 200px;
    color:white
}

.footer-link{
    display:block;
}

.footer-link:hover{
    color: white;
    text-decoration: none
}

@media (min-width: 768px){


    .footer{
        padding: 50px 300px 150px 100px;
    }
    
    .footer-left{
        display: inline-block;
    }

    .footer-left2{
        position: relative;
        left: 200px;
        display: inline-block;
    }

    .footer-right{
        position: absolute;
        right: 100px;
        display: inline-block;
    }
}